[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow-gpu = "*"
gym = {extras = ["atari"],version = "*"}
vizdoomgym = {git = "https://github.com/alex-petrenko/vizdoomgym",editable = true}
colorlog = "*"
opencv-python = "*"
vizdoom = {git = "https://github.com/mwydmuch/ViZDoom"}
numpy = "<1.16"  # numpy 1.16.0 is known for memory leaks! https://github.com/numpy/numpy/issues/12793 (also with multiprocessing JoinableQueues)
networkx = "*"
bokeh = "*"
psutil = "*"
pillow = "*"
matplotlib = "*"
tensorboardx = "*"

[requires]
python_version = "3.6"
